# 파이썬에서 데이터분석을 하기 위한 필수 Library
### (1) Pandas
- 2008년 금융데이터 분석용으로 출발
- 통계와 데이터과학, 머신러닝에서 사용
### (2) Numpu
- 파이썬 기반 수치해석 Library
- 선형대수 연산에 필요한 다차원 배열과 배열 연산을 수행하는 다양한 함수 제공
### (3) Matploptlib
- 그래픽 차트 등 그래픽으로 표현하는 파이썬 시각화 도구
### (4) SciPy
- 과학용 연산에 필요한 다양한 패키지를 모아놓은 Library
- 미적분, 선형대수, 행렬연산, 방정식
### (5) scikit-learn
- 머신러닝 학습을 위한 파이썬 라이브러리
- 회귀분석, 분류, 군집, 차원축소

### DataFrame
- Pandas에서 사용하는 기본 데이터
- 데이터프레임을 정의 할때는 2차원 리스트를 매개변수로 전달

---

In [1]:
# Pandas를 이용하여 DataFrame만들기
import pandas as pd

In [9]:
# List로 DataFrame 만들기
a = [10, 20, 30]
b = [40, 50, 60]
c = [70, 80, 90]

df = pd.DataFrame([a,b,c])
df.columns = [["A","B","C"]]
df
#print([[a],[b]])

    A   B   C
0  10  20  30
1  40  50  60
2  70  80  90

In [11]:
# DataFrame에서 값 추출하기 : 열 기준
#df['A']
df[['A', 'B']] # 컴마가 안 생기게 []로 묶어준다

    A   B
0  10  20
1  40  50
2  70  80

In [12]:
# DataFrame에서 값 추출하기 : 행 기준
df.loc[0]

A    10
B    20
C    30
Name: 0, dtype: int64

In [13]:
df.loc[1,:]

A    40
B    50
C    60
Name: 1, dtype: int64

In [14]:
df.loc[1,'C']

C    60
Name: 1, dtype: int64

In [15]:
df.loc[0:1, 'C']

    C
0  30
1  60

In [16]:
df.loc[:, ['A','B']]

    A   B
0  10  20
1  40  50
2  70  80