In [10]:
var01 = 3
var02 = 4
print('덧셈 : ', var01 + var02)
print('뺄셈 : ', var01 - var02)
print('곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02)
print('정수 나눗셈 몫 : ', var01 // var02)
print('정수 나눗셈 나머지 : ', var01 % var02)
print('제곱 : ', var01 ** 2)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  27

In [13]:
print('거듭제곱', var01 ** 2)
print('거듭제곱', pow(var01, 2))

거듭제곱 9
거듭제곱 9

### 파이썬 모듈을 이용한 수학계산

In [18]:
import math

In [20]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [22]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [24]:
# sin 45도
math.sin(45)

0.8509035245341184

In [34]:
# sin45^2 + cos45^2
math.sin(45) ** 2 + math.cos(45) ** 2

1.0

In [36]:
math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

### 난수발생

In [40]:
import random

In [45]:
random.randint(1, 100) # 1~100중 난수 1개 발생

5

In [48]:
list(range(1, 10)) # list 함수로 내용을 본것, 반복문에서는 list 필요없음, 10이 stop값이라 포함되지 않음

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
lotto_list = range(1 ,46)
random.sample(lotto_list, 6)

[42, 40, 34, 28, 2, 17]

In [56]:
# 반올림
print(round(123.45, 1))
print(round(123.45, 2))

123.5
123.45

In [58]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [60]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [61]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_41',
 '_42',
 '_43',
 '_45',
 '_46',
 '_48',
 '_51',
 '_53',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'debugpy',
 'exit',
 'file',
 'get_ipython',
 'ipykernel',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

var01

In [63]:
del var01

In [1]:
var01

NameError: name 'var01' is not defined

## 관계 연산자

In [71]:
num1 = 50
num2 = 20

In [72]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 > num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
True
True
False

### 논리 연산자

In [73]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [79]:
# 부정 연산자
not(num1 >= 50) # ! 이 아님

False

In [82]:
# OS 명령어 사용
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb
=

In [85]:
# 문자열
var01 = '"Hellow world!"'  # ', " 구분없이 사용 
var01

'"Hellow world!"'

In [89]:
var01 = """  
    Heloow World1
    12345
    대한민국
"""
var01
print(var01)

    Heloow World1
    12345
    대한민국

In [91]:
# 쌍따옴표와 홑따움표 사용
var01 = "My father' wifie is my mother."
var02 = 'He saus "I love you."'  # 쌍따옴표를 쓸때는 혼따옴표를 쓴다

In [94]:
# 문자열 연산 (뎃셈)
var01 = "Python"
var02 = "is fun."

print(var01 + var02)
print(var01, var02) # ,가 들어가면 한칸 띈다

Pythonis fun.
Python is fun.

In [97]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [98]:
print("=" * 20)
print('Python')
print("=" * 20)

====================
Python
====================

In [113]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmn"

print(str[0])
print(str[0:3]) # 0부터 3은 stop 인덱싱, 포함되지 않음
print(str[-1])  # -는 맨뒤부터 -1은 문자열의 맨끝 n, 0은 a
print(str[5:])
print(str[0]+str[1]+str[2])
print(str[5:-2])
print(str[-0])
print(str[-2])

a
abc
n
fghijklmn
abc
fghijkl
a
m

In [124]:
str = "20221229Snow"
year = str[:4]
day =  str[4:-4]
weather = str[6:]
print(year, day, weather)
# 2022 1229 Snow

2022 1229 29Snow

In [126]:
str = "abbde"

# abcde
str = str[:2] + 'c' + str[3:]  # 잘라서 쓸수 있을뿐 리스트가 아니다
print(str)

abcde

### 문자열 formatting

In [131]:
print("I have %d apples."%2)
print("I have %s apples."%"two")

I have 2 apples.
I have two apples.

In [135]:
number = 2
fruit = "apples"
print("I have %d %s"%(number, fruit))

I have 2 apples

In [137]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [141]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

3.1416
    3.1416

### 문자열 관련 함수

In [143]:
# 문자 count
str = "I have a dream."
print(str.count('a'))
print(len(str)) # len만 함수형태로 존재

3
15

In [145]:
# 문자 위치 알려주기
print(str.find('e'))
print(str.find('x')) # 없을때 -1

5
-1

In [146]:
str[str.find('e')]

'e'

In [147]:
# 문자열 삽입
str = ","
str.join('abcde')

'a,b,c,d,e'

In [148]:
# 소문자를 대문자로
str = 'hi'
str.upper()

'HI'

In [151]:
# 대문자를 소문자로
str = 'HI'
str.lower()

'hi'

In [152]:
# 공백 지우기
str = '      hi'
str.lstrip()

'hi'

In [155]:
str = 'hi        '
str.rstrip()

'hi'

In [154]:
str = '       hi    '
str.strip()

'hi'

In [159]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [162]:
# 문자열 나누기
str01 = 'Life is too short to be happy.'
list01 = str01.split() # 공백을 기준으로 나눔
print(type(list01))
list01

<class 'list'>

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [163]:
str02 = 'a:b:c:d'
str02.split(':') # : 기준으로 나눔

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [165]:
# 숫자 바로 대입하기
"I have {0} apples".format(3)   #{0}은 번지

'I have 3 apples'

In [166]:
"I have {0} apples.".format("three")

'I have three apples.'

In [167]:
number = 10
day = 'three'
"I have {0} apples, I will go aboard for {1} days.".format(number, day)

'I have 10 apples, I will go aboard for three days.'

In [168]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [169]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [170]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [174]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [175]:
# f문자열 formatting(Pyton 3.6이상)
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [181]:
f'나는 네년이면 {age+1}살 입니다.'

'나는 네년이면 31살 입니다.'

### 날짜형 변환

In [197]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [198]:
time1 = datetime(2022, 12, 25, 21, 0, 0, 0)

In [199]:
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:24:52.370769
186 days, 4:35:07.629231

In [200]:
# 좀 더 편리하게 출력
print((time1 - time2).days, '일')
print((time1 - time2).seconds, '초')

186 일
16507 초

In [203]:
# 시간으로 확인하기
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [205]:
# 특정 날짜로 부터 시간 계산
print(time2 + timedelta(days=-5))

2022-06-17 16:24:52.370769