In [27]:
range(1, 11)

range(1, 11)

In [28]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [30]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [31]:
list(range(0, 10, -2)) # error 안나온다

[]

In [32]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
# 1에서 10까지 제곱근을 출력하기
import math
for i in range(1, 11) :
    print("%d : %f"%(i, math.sqrt(i)))

1 : 1.000000
2 : 1.414214
3 : 1.732051
4 : 2.000000
5 : 2.236068
6 : 2.449490
7 : 2.645751
8 : 2.828427
9 : 3.000000
10 : 3.162278

In [34]:
# 구구단 9단 출력
i = 9
for j in range(1, 10):
   print(i, "*", j, "=", "%d"%(i*j))

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [35]:
# 구구단 결과만 출력하기

for i in range(2, 10):
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [36]:
# for문에 Tuble tkdydgkrl
var = [(1,2), (3,4),(5,6)]

for first, last in var:
    print(first, ":", last)

1 : 2
3 : 4
5 : 6

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고
그렇지 않으면 불합격이다.
합격, 불합격 보여주기

In [37]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    print("%d의 학생은 %s 입니다."%((number+1),("합격" if scores[number] >= 60 else "불합격" )))

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [38]:
scores = [90, 25, 67, 45, 80]

for score in scores:
    print("%d의 학생은 %s 입니다."%(scores.index(score)+1,("합격" if score >= 60 else "불합격" )))

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [39]:
scores = [90, 25, 67, 45, 80]

for score in scores:
    print("%d의 학생은 점수가 %d%s"%(scores.index(score)+1, score, ("이므로 합격 입니다." if score >= 60 else "이어서 불합격 입니다." )))

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

학생들 점수의 평균을 구하여 평균점수 보다 낮으면 불합격
평균점수보다 같거나 높으면 합격을 위의 출력과 같이 보여주기

In [40]:
import numpy as np

In [41]:
scores = [90, 25, 67, 45, 80]
avg = np.mean(scores)
print("학급의 평균 점수는 %.2f"%avg)


for score in scores:
    print("%d의 학생은 점수가 %d%s"%(scores.index(score)+1, score, ("이므로 합격 입니다." if score >= avg else "이어서 불합격 입니다." )))

학급의 평균 점수는 61.40
1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [42]:
scores = [90, 25, 67, 45, 80]

for i in range(len(scores)):
    if scores[i] > 60:
        print("%d의 학생은 합격입니다."%(i+1))

1의 학생은 합격입니다.
3의 학생은 합격입니다.
5의 학생은 합격입니다.

총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고  그렇지 않으면 불합격이다
합격인 학생들의 번호만 새로운 list를 생성하여 출력하기

In [51]:
scores = [90, 25, 67, 45, 80]
number = 0
success = []
print("합격자 번호")
print("---------")
for score in scores:
    number += 1
    if score > 60:
        print("    %d"%number)
        success.append(number)

합격자 번호
---------
    1
    3
    5

# 문장과 단어 추출

In [52]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [53]:
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [56]:
sents = [] # 문장 저장
words = [] # 단어 저장

# 문단 -> 문장
for sen in string.split('\n'):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [58]:
var01 = [1,2,3,4]
var02= []
# var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기
for i in var01:
    var02.append(i * 5)
var02

[5, 10, 15, 20]

In [60]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01] # 3항 연산자와 비슷하게 사용
var02

[5, 10, 15, 20]

In [97]:
# 파이썬의 listed for 문
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i % 2 == 0]
var02

[10, 20]

In [91]:
# 구구단 결과만 리스트로 만들기
list = [x * y for x in range(2,10) for y in range(1,10)]

In [88]:
# 60점 이상의 학생 점수만 List로 만들어서 평균 출력하기(listed for문 사용)
import numpy as np
scores = [90, 25, 67, 45, 80]
list = [i for i in scores if i > 60]
print('합격한 학생들의 평균 점수는 %.2f 입니다.'%np.mean(list))

합격한 학생들의 평균 점수는 79.00 입니다.

[90, 67, 80]

In [98]:
# return 문의 결과값은 항상 하나이다.

In [99]:
def sum_mul(a, b):
    return (a + b, a * b)

In [102]:
return_sum, return_mul = sum_mul(3, 4)
print(return_sum)
print(return_mul)

7
12

In [104]:
# 함수에 초기값 설정하기
def sum_mul(a, b=10):
    return (a + b, a * b)

In [107]:
# b = 10 <-- 가장 많이 쓰는 숫자
print(sum_mul(10))
print(sum_mul(10, 20))

(20, 100)
(30, 200)